{% extends 'layouts/base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="404">
<meta property="og.title" content="404" />
<title>무한 기사단 | 404</title>
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index">메인 페이지</a>
        </li>
        <li class="breadcrumb-item active" id="page_name">404</li>
    </ol>

    <!-- DataTables -->
    <div class="card mb-3">
        <div class="card-body">
            <div class="contact-text">
                <h2>404</h2>
            </div>
        </div>
        <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}