{% extends 'layouts/base.html' %}
{% load static %}

{% block meta %}{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index">메인 페이지</a>
        </li>
        <li class="breadcrumb-item active" id="page_name">
            {{table}}
        </li>
    </ol>

    <!-- DataTables -->
    <div class="card mb-3">
        <div class="card-body">
            <div class="contact-text">
                <h2 id="title" style="display: inline-block;"></h2>
                <h6 id="writer" style="display: inline-block;"></h6>
                <p id="content">there's no Contents</p>
            </div>
        </div>
        <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    reloadLoginState(false);
    document.getElementById("Notic_lit").className += " active";
    let req = new XMLHttpRequest();
    req.open("GET", "info?table={{table}}&id={{id}}");
    req.addEventListener("load", function () {
        if (req.status != 200) {
            console.log("404");
            return;
        }
        var counter = 0;
        let data = JSON.parse(req.responseText);
        let innerContents = "";
        document.getElementById("title").innerHTML = data.name;
        document.getElementById("writer").innerText += "(" + data.writer + ")";
        if (data.link != null) {
            counter++;
            innerContents += '<a href="' + data.link + '">';
            innerContents += data.linkName != null ? data.linkName : "link";
            innerContents += "</a><br>";
        }
        if (data.contents != null) {
            counter++;
            innerContents += data.contents.split("\n").join("<br>").split("  ").join("&nbsp;&nbsp;");
        } else if (data.memo != null) {
            counter++;
            innerContents += data.memo.split("\n").join("<br>").split(" ").join("&nbsp;");
        }
        if (data.image != null && data.image != "") {
            counter++;
            innerContents += "<img src='https://insiro.me/media/" + data.image + "'>";
        }
        if (data.imageLink != null && data.imageLink != "") {
            counter++;
            innerContents += "<img src='" + data.imageLink + "'>";
        }
        if (innerContents != "") {
            document.getElementById("content").innerHTML = innerContents;
        }
    });
    req.send(null);
</script>
{% endblock %}