{% extends 'layouts/base.html' %}
{% load static %}

{% block meta %}
<meta property="og:description" content="에픽 세븐 한국서버 무한기사단의 홈페이지 입니다" />
<title>무한 기사단 | Home</title>
{% endblock %}

{% block css %}
<link href="{% static 'epic/css/cardIndex.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">메인 페이지</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            Notics
        </div>
        <div class="card-body">
            <ul>
                <!--onclick="viewDialog('notic','{{ not.id }}' )"-->
                {%for not in notics %}
                <li onclick="viewDialog('notic','{{ not.id }}')">
                    <a href="javascript:;">{{ not.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- Icon Cards-->
    <div class="row">
        {%for imp in hints %}
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-pupple o-hidden h-100">
                <div class="card-body">
                    <a class="text-white clearfix small z-1" href="javascript:;"
                        onClick="viewDialog('tips','{{ imp.id }}' )">
                        <div class="card-body-icon"></div>
                        <div class="mr-5 Cardname">{{ imp.name }}</div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div id="footer" class="container my-auto"></div>
    </footer>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<script>
    document.getElementById("dash_lit").className += " active";
    function writeList() {
        if (arguments[1].length == 0 || arguments.length < 1) document.getElementById(theGame + "_list").innerHTML += "<li> No data </li>";
        else {
            for (var i = 0; i < arguments[1].length; i++) {
                document.getElementById(arguments[0] + "_list").innerHTML +=
                    "<li ><a onclick='viewDialog(\"" +
                    arguments[1][i]._id +
                    '", "' +
                    arguments[0] +
                    "\")' href='javascript:;'>" +
                    (arguments[1][i].name.length > 25 ? arguments[1][i].name.substring(0, 23) + "..." : arguments[1][i].name) +
                    "</a></li>";
            }
        }
    }
</script>
{% if rev %}
<script>
    alert("Require Sign-In");
</script>
{% endif%}
{% endblock %}