{% extends 'layouts/base.html' %}
{% load static %}

{% block meta %}
<title>무한 기사단 | Post</title>
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index">메인 페이지</a>
        </li>
        <li class="breadcrumb-item active" id="page_name">new Post</li>
    </ol>

    <!-- DataTables -->
    <div class="card mb-3">
        <div class="card-body">
            <div class="contact-text">
                <h2>new Post</h2>
                <form action="" class="contact-form">
                    <div class="form-group">
                        <label for="title">title</label>
                        <input class="form-control" id="title" type="text" name="title" />
                    </div>
                    <div class="form-group">
                        <label for="category">category</label>
                        <select class="selectpicker my-1 mr-sm-2" id="CharactorSelect">
                            <option value="" disable selected>Choose...</option>
                            <option value="" disabled>공지</option>
                            <option value="">공략</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>add : </label>
                        <button class="btn">Img file</button>
                        <button class="btn">Img url</button>
                        <button class="btn">Link</button>
                    </div>
                    <div class="form-group">
                        <babel for="content">content</babel>
                        <textarea id="content" class="form-control" placeholder="content"></textarea>
                    </div>
                    <button class="btn site-btn" onclick="upload()">upload</button>
                </form>
            </div>
        </div>
        <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/epic/js/post.js"></script>
<script>
    document.getElementById("newPost").className += " active";
</script>
{% endblock %}