{% extends 'layouts/base.html' %}
{% load static %}

{% block meta %}
<meta property="og:title" content="무한 기사단 가입문의" />
<meta property="og:description" content="한국서버 무한기사단의 가입문의 안내" />
<meta property="og:image" content="https://insiro.me/media/epic/image/guildPRHeader.jpg" />
<title>무한 기사단 | 가입문의</title>
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
{% endblock %}

{% block css %}
<link href="{% static 'epic/css/pr.css'%}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index">메인 페이지</a>
        </li>
        <li class="breadcrumb-item active" id="page_name">가입 흥보</li>
    </ol>
    <div class="card-body subcon mb-3 row">
        <button class="btn col-sm-4" onclick="window.open('https://open.kakao.com/o/g16VJb8')">
            가입 문의
        </button>
        <span class="col-sm-1"></span>
        <button class="btn col-sm-4 btn-2" id="kakao-link-btn">공유 하기</button>
    </div>
    <div class="row card-text ml-2 col-xs-9 col-md-6">
        <snakk style="text-align: left;">{{ con|linebreaks }}</snakk>
    </div>
</div>
<a class="card-body subcon mb-3 text-center row" href="javascript:;">
    <img class="col-sm-9" ass="" src="https://insiro.me/media/epic/image/guildPR.jpg" />
</a>
<br />
{% endblock %}

{% block script %}
<script>
    document.getElementById("regist").className += " active";
    Kakao.init("87e0df88cc4b2f3e2191d86119d5ff15");
    Kakao.Link.createDefaultButton({
        container: "#kakao-link-btn",
        objectType: "feed",
        content: {
            title: "무한 기사단",
            description: "#한섭 #톡방운영 #랭킹_100위_내외\n아레나 첼린져 5 이상",
            imageUrl: "https://insiro.me/media/epic/image/guildPRHeader.jpg",
            link: {
                mobileWebUrl: "https://epic.insiro.me/about",
                webUrl: "https://epic.insiro.me/about",
            },
        },
        buttons: [
            {
                title: "가입문의",
                link: {
                    mobileWebUrl: "https://epic.insiro.me/kakao",
                    webUrl: "https://epic.insiro.me/kakao",
                },
            },
            {
                title: "홈페이지",
                link: {
                    mobileWebUrl: "https://epic.insiro.me/",
                    webUrl: "https://epic.insiro.me/",
                },
            },
        ],
    });
</script>
{% endblock %}