{% extends 'layouts/base.html' %}
{% load static %}

{% block meta %}{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb" id="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index">메인 페이지</a>
        </li>
        <li class="breadcrumb-item active">Search {{ kq }}</li>
    </ol>

    <!-- Page Content -->
    <hr />
    <div class="card mb-3">
        <div class="card-header">
            <h3 id="table_name">Search {{ kq }}</h3>
        </div>
        <div class="card-body">
            <div class="card-body">
                <form class="d-inline-block d-md-none" action="search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="kq" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2" />
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>writer</th>
                            <th>title</th>
                        </tr>
                    </thead>
                    <tbody id="sc_list">
                        {% for data in notic%}
                        <tr onclick="viewDialog('notic','{{ data.id }}')">
                            <td>notic {{data.id}}</td>
                            <td>{{data.writer}}</td>
                            <td>{{data.name}}</td>
                        </tr>
                        {% endfor %} {% for data in tips%}
                        <tr onclick="viewDialog('tips','{{ data.id }}')">
                            <td>tips {{data.id}}</td>
                            <td>{{data.writer}}</td>
                            <td>{{data.name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}