{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta property="og.image" content="epic.insiro.me/home/png" />
        <meta property="og:site_name" content="무한 기사단" />
        <title>무한 기사단 | 공략</title>

        <!-- Custom fonts for this template-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" />
        <!-- Custom styles for this template-->
        <link href="{% static 'epic/css/sb-admin.css'%}" rel="stylesheet" />
        <link href="{% static 'epic/css/addition.css'%}" rel="stylesheet" />
        <!-- <link href="{% static 'epic/vendor/datatables/dataTables.bootstrap4.css'%}" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    </head>

    <body id="page-top">
        <div id="BGI"></div>

        <!-- dialog -->
        <div class="modal dia" id="regist_new"></div>
        <div class="modal dia" id="modalDialog"></div>
        <div class="modal dia" id="Login"></div>
        <nav class="fixed-top navbar navbar-expand static-top">
            <a class="navbar-brand mr-1" href=".">무한기사단</a>

            <!-- Navbar Search -->
            <form action="search" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input type="text" class="form-control" name="kq" placeholder="Search for..." aria-label="Search"
                        aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Navbar -->
            <div id="Nav"></div>
        </nav>

        <div id="wrapper">
            <!-- Sidebar -->
            <div class="sidebar d-none d-md-inline-block " id="sidebar"></div>

            <div id="content-wrapper">
                <div class="container-fluid">
                    <!-- Breadcrumbs-->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index">메인 페이지</a>
                        </li>
                        <li class="breadcrumb-item active" id="page_name">공략</li>
                    </ol>

                    <!-- DataTables -->
                    <div class="card mb-3">
                        <!-- <div class="card-header">
                            <i class="fas fa-table"></i>
                            <span id="table_name">Data Table</span>
                        </div> -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>writer</th>
                                            <th>memo</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sc_list">
                                        {% for hint in hintlist %}
                                        <tr>
                                            <td>
                                                <a href="{{hint.link}}">{{hint.name}}</a>
                                            </td>
                                            <td>
                                                <a href="{{hint.link}}">{{hint.writer}}</a>
                                            </td>
                                            <td>
                                                <a href="{{hint.link}}">{{hint.memo}}</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
                    </div>

                    <!-- <p class="small text-center text-muted my-5">
                        <em>More table examples coming soon...</em>
                    </p> -->
                </div>
                <!-- /.container-fluid -->

                <!-- Sticky Footer -->
                <footer class="sticky-footer">
                    <div id="footer" class="container my-auto"></div>
                </footer>
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


        <script src="/static/epic/js/sb-admin.min.js"></script>
        <script src="/static/epic/js/authorize.js"></script>
        <script src="/static/epic/js/addition.js"></script>
        <script>
            $(function () {
                $("#regist_new").load("/static/epic/extention_html/singUpModal.html");
                $("#Login").load("/static/epic/extention_html/log-inModal.html");
                $("#footer").load("/static/epic/extention_html/footer.html");
                $("#Nav").load("/static/epic/extention_html/navbar.html", () => {
                    reloadLoginState(false);
                });
                $("#sidebar").load("/static/epic/extention_html/sidebar.html", function () {
                    document.getElementById("tip_lit").className += " active";
                });
                $("#modalDialog").load("/static/epic/extention_html/modal_dialog.html");
            });
            var tableName;
        </script>
    </body>

</html>