<div class="modal-dialog dias">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="dialogName">blank dialog</h5>
            <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
        </div>
        <div id="dialogContents" class="modal-body">
            <p>Content of the modal window</p>
            <table id="diatable"></table>
        </div>
        <div class="modal-footer">
            <button id="detailBtn" type="button" class="btn btn-primary">Go Details</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>